/* Full page container styling */
.full-page-leaderboard-container {
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Required for the overlay */
    overflow: hidden;
    /* Prevents overflow */
    background-color: #020817;
}


/* Table styling */
.scores-table {
    border-radius: 10px;
    /* Rounded corners */
    overflow: hidden;
    /* Ensure the rounded corners work */
    color: #B9B6B6;
}

.scores-table thead {
    color: white;
}

.scores-table tr td:last-child {
    color: white;
}

/* Ensure the top left and top right corners are rounded */
.scores-table thead th:first-child {
    border-top-left-radius: 10px;
}

.scores-table thead th:last-child {
    border-top-right-radius: 10px;
}

/* Ensure the bottom left and bottom right corners are rounded */
.scores-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.scores-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.row-container {
    /* background-color: aliceblue; */
    border-radius: 10px;
    border: 1px solid #B9B6B6;
}

.username h3,
.user-score h3 {
    color: #B9B6B6;
}

.username h3 span,
.user-score h3 span {
    color: #ffffff;
}

.row-container h3 {
    color: #B9B6B6;
}