/* Full page container styling */
.full-page-leaderboard-container {
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Required for the overlay */
    overflow: hidden;
    /* Prevents overflow */
    background: -webkit-linear-gradient(left, #e3e38b, #8e8ea4);
    background: linear-gradient(to right, #8e8ea4, #e3e38b);
}


/* Table styling */
.styled-table {
    border-radius: 10px;
    /* Rounded corners */
    overflow: hidden;
    /* Ensure the rounded corners work */
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    /* Add a subtle drop shadow */
}

/* Ensure the top left and top right corners are rounded */
.styled-table thead th:first-child {
    border-top-left-radius: 10px;
}

.styled-table thead th:last-child {
    border-top-right-radius: 10px;
}

/* Ensure the bottom left and bottom right corners are rounded */
.styled-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.styled-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}