/* Full page container styling */
.trivia-container {
    background-color: #020817;
}




.card {
    border: 1px solid #B9B6B6 !important;
    background-color: #020817 !important;
}

.card .card-title {
    color: white;
}

.card .card-text {
    color: #B9B6B6;
}

.trivia-title {
    color: #B9B6B6 !important;
}